Data_Platform_Evaluation_Dashboard_With_Formulas.xlsx
Evaluation_Criteria_and_Weights.xlsx
Option_Score_Comparison.xlsx
Option_Score_Comparison_Expanded.csv
Option_Score_Comparison_Expanded.xlsx
Updated_data_platform_weight_template.csv
data_platform_dashboard_app - Copy.py
Ways to magnify differences.md
References/
working/